[submodule "deps/sbd"]
	path = deps/sbd
	url = https://github.com/r-ccs-cms/sbd.git
[submodule "deps/qiskit"]
	path = deps/qiskit
	url = https://github.com/Qiskit/qiskit.git
[submodule "deps/qiskit-cpp"]
	path = deps/qiskit-cpp
	url = https://github.com/Qiskit/qiskit-cpp.git
[submodule "deps/qrmi"]
	path = deps/qrmi
	url = https://github.com/qiskit-community/qrmi.git
[submodule "deps/qiskit-addon-sqd-hpc"]
	path = deps/qiskit-addon-sqd-hpc
	url = https://github.com/Qiskit/qiskit-addon-sqd-hpc.git
[submodule "deps/boost/config"]
	path = deps/boost/config
	url = https://github.com/boostorg/config.git
[submodule "deps/boost/core"]
	path = deps/boost/core
	url = https://github.com/boostorg/core.git
[submodule "deps/boost/integer"]
	path = deps/boost/integer
	url = https://github.com/boostorg/integer.git
[submodule "deps/boost/throw_exception"]
	path = deps/boost/throw_exception
	url = https://github.com/boostorg/throw_exception.git
[submodule "deps/boost/move"]
	path = deps/boost/move
	url = https://github.com/boostorg/move.git
[submodule "deps/boost/static_assert"]
	path = deps/boost/static_assert
	url = https://github.com/boostorg/static_assert.git
[submodule "deps/boost/assert"]
	path = deps/boost/assert
	url = https://github.com/boostorg/assert.git
[submodule "deps/boost/type_traits"]
	path = deps/boost/type_traits
	url = https://github.com/boostorg/type_traits.git
[submodule "deps/boost/describe"]
	path = deps/boost/describe
	url = https://github.com/boostorg/describe.git
[submodule "deps/boost/mp11"]
	path = deps/boost/mp11
	url = https://github.com/boostorg/mp11.git
[submodule "deps/boost/container_hash"]
	path = deps/boost/container_hash
	url = https://github.com/boostorg/container_hash.git
